---
Language: Cpp
BasedOnStyle: LLVM
PointerAlignment: Left
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth:     4
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesBeforeTrailingComments: 4
TabWidth:        4
